.top-bg {
	background: url("../img/top-banner.png") no-repeat center/ cover;
}
.middle-bg {
	background: url("../img/middle-banner.png") no-repeat center/ cover;
}
.bottom-bg {
	background: url("../img/bottom-banner.png") no-repeat center bottom/ cover;
}

header {
	height: 100vh;
	min-height: 700px;
	&.banner {
		max-height: 400px !important;
		min-height: 400px !important;
		background: url("../img/banner.png") no-repeat center/cover;
	}
}

.m-banner {
	&__img {

	}
	&__title {
		font-size: 2.4rem;
		line-height: 1.25;
		color: $color1;
		margin-top: 125px;
	}
}

.recall {
	position: absolute;
	right: 100px;
	z-index: 2;
	top: 48px;
	font-size: 20px;
	font-weight: 700;
	color: $color1;
	outline: none;
	&:hover {
		color: $color1;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.m-banner {
		&__title {
			font-size: 2.2rem;
			margin-top: 50px;
			text-align: center;
		}
	}

	.recall {
		right: 15px;
		top: 21px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}