$primary-color-rgba: rgba(32, 79, 109, .75);
$primary-color: #2a648f;
$color1: #fff;

//$text-color1: #585858;
//$text-color1: #585858;
$text-color1: #151515;

$tr-fast: .25s;
$tr-middle: .5s;
$tr-low: .1s;