.apartments-level {
	a  {
		text-decoration: none;
	}
	polygon,
	text {
		fill: transparent !important;
	}
	g {
		&:hover {
			cursor: pointer;
			polygon {
				opacity: .9;
				&.st0 {
					fill: #f9ad81 !important;
				}
				&.st1 {
					fill: #2a648f !important;
				}
			}
			text {
				fill: #fff !important;
			}
		}
	}
}

.about-tower {
	font-size: 1.8rem;
	font-weight: 600;
	padding: 40px 0;
	.row {
		max-width: 650px;
		width: 100%;
		margin: 0 auto;
		& ul {
			padding: 0;
			margin-bottom: 45px;
			li {
				padding: 15px 0;
				&:not(:last-child) {
					color: $primary-color;
					border-bottom: 1px solid $primary-color;
				}
			}
		}
	}
	div.col {
		padding: 20px 0;
		&:not(:nth-last-child(-n+2)) {
			border-bottom: 1px solid $primary-color;
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.apartments-level {
		polygon,
		text {
			fill: transparent !important;
		}
		polygon {
			opacity: .9;
			&.st0 {
				fill: #f9ad81 !important;
			}
			&.st1 {
				fill: #2a648f !important;
			}
		}
		text {
			fill: #fff !important;
		}

	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.about-tower {
		display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}