.apartments-level {
	a  {
		text-decoration: none;
	}
	polygon,
	text {
		fill: transparent !important;
	}
	g {
		&:hover {
			cursor: pointer;
			polygon {
				opacity: .9;
				&.st0 {
					fill: #f9ad81 !important;
				}
				&.st1 {
					fill: #2a648f !important;
				}
			}
			text {
				fill: #fff !important;
			}
		}
	}
}

//.tower-form {
//	max-width: 900px;
//	width: 100%;
//	margin: 0 auto;
//}



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.apartments-level {
		polygon,
		text {
			fill: transparent !important;
		}
		polygon {
			opacity: .9;
			&.st0 {
				fill: #f9ad81 !important;
			}
			&.st1 {
				fill: #2a648f !important;
			}
		}
		text {
			fill: #fff !important;
		}

	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}