.backLink {
	position: absolute;
	z-index:10;
	left: 100px;
	display: block;
	font-size: 1.8rem;
	font-weight: 700;
	color: $text-color1;
	padding: 60px 0 0;
	&:hover,
	&:focus {
		color: $text-color1;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.backLink {
		position: static;
		padding-top: 20px;
		margin-left: 15px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
