.plus-list {
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
	&__line {
		width: 50%;
		height: 2px;
		background-color: $primary-color;
		margin: 10px auto;
	}
	i {
		color: $primary-color;
		margin-bottom: 10px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.plus-list {
		margin-bottom: 50px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}