.chose-tower {
	margin: 35px 0 40px;
}

.about-flat-list {
	margin-bottom: 40px;
	&__item {
		margin: 0 20px;
	}
	&__color {
		width: 40px;
		height: 40px;
		margin: 0 auto;
		&_four {
			background-color: #85b683;
		}
		&_two {
			background-color: #F5AB80;
		}
		&_one {
			background-color: #68A2BC;
		}
		&_sold {
			background-color: #c0c0c0;
		}
	}
	&__text {
		font-size: 1.4rem;
		line-height: 2.5;
		text-align: center;
		margin-top: 0;
	}
}

.chose-list {
	font-size: 2rem;
	line-height: 1.5;
	font-weight: 700;
	margin-top: 40px;
	&__item {
		justify-content: space-between;
		span {
			display: inline-block;
			font-size: 3rem;
			color: $primary-color;
			text-align: right;
		}
	}
}

.level-plan {

	.st0,
	.st2 {
		fill: transparent;
		opacity:0.75;
	}

	.st1 {
		fill: #68A2BC;
	}

	.one-flat {
		&.current_flat {
			& .st2 {
				fill: #68A2BC;
			}
		}
		&:hover {
			& .st2 {
				fill: #68A2BC;
			}
		}
	}
	.two-flat {
		&.current_flat {
			& .st0 {
				fill: #F5AB80;
			}
		}
		&:hover {
			& .st0 {
				fill: #F5AB80;
			}
		}
	}
	.four-flat {
		&.current_flat {
			& .st2 {
				fill: #85b683;
			}
		}
		&:hover {
			& .st2 {
				fill: #85b683;
			}
		}
	}

	.one-flat,
	.two-flat,
	.four-flat {
		cursor: pointer;
		&.current_flat {
			& .st1 {
				fill: #FFFFFF;
			}
		}
		&:hover {
			& .st0,
			& .st2 {
				transition: all .25s;
			}
			& .st1 {
				fill: #FFFFFF !important;
				transition: all .25s;
			}
		}
	}

	& .sold {
		cursor: not-allowed;
		.st0{
			fill:#c0c0c0 !important;
		}
		.st1{
			fill:#FFFFFF;
		}
		.st2{
			fill:#c0c0c0 !important;
		}
		&:hover {
			.st0{
				fill:#c0c0c0 !important;
			}
			.st1{
				fill:#FFFFFF;
			}
			.st2{
				fill:#c0c0c0 !important;
			}
		}
	}

	& .disabled {
		cursor: not-allowed;
		.st0{
			fill:#f7f3c4 !important;
		}
		.st1{
			fill: transparent !important;
		}
		.st2{
			fill:#f7f3c4 !important;
		}
		&:hover {
			.st0{
				fill:#f7f3c4 !important;
			}
			.st1{
				fill: transparent !important;
			}
			.st2{
				fill:#f7f3c4 !important;
			}
		}
	}

	//.st0{opacity:0.75;fill:#F5AB80;}
	//.st1{fill:#FFFFFF;}
	//.st2{opacity:0.75;fill:#68A2BC;}
}




//.level-plan {
//	& > g {
//
//		path {
//			fill: #2a648f;
//		}
//		line {
//			stroke:  #2a648f ;
//		}
//		polygon {
//			fill: transparent;
//			opacity: .9;
//		}
//
//		&:hover {
//			cursor: pointer;
//			path {
//				fill: #fff;
//			}
//			line {
//				stroke: #fff;
//			}
//		}
//
//		&.one-flat {
//			&.current_flat {
//				polygon {
//					fill: #f9ad81;
//				}
//			}
//			&:hover {
//				polygon {
//					fill: #f9ad81;
//				}
//			}
//
//		}
//		&.two-flat {
//			&.current_flat {
//				polygon {
//					fill: #2a648f;
//				}
//			}
//			&:hover {
//				polygon {
//					fill: #2a648f;
//				}
//			}
//		}
//		&.four-flat {
//			&.current_flat {
//				polygon {
//					fill: #85b683;
//				}
//			}
//			&:hover {
//				polygon {
//					fill: #85b683;
//				}
//			}
//		}
//		&.current_flat {
//			path {
//				fill: transparent !important;
//			}
//			line {
//				stroke: transparent !important;
//			}
//		}
//
//		&.disabled {
//			cursor: not-allowed;
//			polygon {
//				fill: #fff !important;
//			}
//			path {
//				fill: transparent;
//			}
//			line {
//				stroke: transparent;
//			}
//			&:hover {
//				polygon {
//					fill: #fff;
//				}
//				path {
//					fill: transparent;
//				}
//				line {
//					stroke: transparent;
//				}
//			}
//		}
//		&.sold {
//			cursor: not-allowed;
//			polygon {
//				fill: #c0c0c0 !important;
//			}
//			path {
//				fill: #fff;
//			}
//			line {
//				stroke: #fff;
//			}
//			&:hover {
//				polygon {
//					fill: #c0c0c0;
//				}
//				path {
//					fill: #fff;
//				}
//				line {
//					stroke: #fff;
//				}
//			}
//		}
//	}
//
//}

.m-flat-list {

	&__item {
		padding: 40px 20px;
		margin-bottom: 20px;
		&.one-flat {
			background-color: $primary-color;
		}
		&.two-flat {
			background-color: #f9ad81;
		}
		&.sold {
			background-color: #c0c0c0;
		}
	}
	&__link {
		color: $color1;
		&:hover,
		&:focus {
			color: $color1;
			text-decoration: none;
		}
	}
}

.m-about-flat-list {
	&__item {
		display: flex;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.level-plan {
		g {

			path {
				fill: #fff;
			}
			line {
				stroke:  #fff ;
			}

			&.one-flat {
				polygon {
					fill: #f9ad81;
				}
			}
			&.two-flat {
				polygon {
					fill: #2a648f;
				}
			}
		}
	}

	.chose-list {
		font-size: 1.8rem;
		margin-top: 0;
		&__item {
			line-height: initial;
			margin-bottom: 20px;
			span {
				font-size: 1.8rem;
			}
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}