.chose-tower {
	margin: 35px 0 40px;
}

.about-flat-list {
	margin-bottom: 40px;
	&__item {
		margin: 0 20px;
	}
	&__color {
		width: 40px;
		height: 40px;
		margin: 0 auto;
		&_two {
			background-color: $primary-color;
		}
		&_one {
			background-color: #f9ad81;
		}
		&_sold {
			background-color: #c0c0c0;
		}
	}
	&__text {
		font-size: 1.2rem;
		line-height: 2.5;
		text-align: center;
		margin-top: 0;
	}
}

.chose-list {
	font-size: 2rem;
	line-height: 1.5;
	font-weight: 700;
	margin-top: 40px;
	&__item {
		justify-content: space-between;
		span {
			display: inline-block;
			font-size: 3rem;
			color: $primary-color;
			text-align: right;
		}
	}
}


.level-plan {
	g {
		path {
			fill: #2a648f;
		}
		line {
			stroke:  #2a648f ;
		}
		polygon {
			fill: transparent;
			opacity: .9;
		}

		&:hover {
			cursor: pointer;
			path {
				fill: #fff;
			}
			line {
				stroke: #fff;
			}
		}

		&.one-flat {
			&:not(.sold):hover {
				polygon {
					fill: #2a648f;
				}
			}
		}

		&.two-flat {
			&:not(.sold):hover {
				polygon {
					fill: #f9ad81;
				}
			}
		}

		&.disabled {
			polygon {
				fill: #fff;
			}
			path {
				fill: transparent;
			}
			line {
				stroke: transparent;
			}
		}

		&.sold {
			polygon {
				fill: #c0c0c0;
			}
			path {
				fill: #fff;
			}
			line {
				stroke: #fff;
			}
		}
	}
}